body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d89494;
}

header,footer {
    text-align: center;
    padding: 20px;
    background-color:brown;
    color: white;
}

.container {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

section {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section:hover{
    transform: scale(1.05);
}

.skills li:hover{
    color: #130910;
    background-color: rgb(245, 241, 241);
    cursor:pointer;
}

.contact p:hover{
    color: #130910;
    background-color: rgb(245, 241, 241);
    cursor:pointer;
}

.Education li:hover{
    color: #130910;
    background-color: rgb(245, 241, 241);
    cursor:pointer;
}

.Certifications li:hover{
    color: #130910;
    background-color: rgb(245, 241, 241);
    cursor:pointer;
}

.projects {
    grid-column: span 2;
}

@media (max-width: 780px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.Education {
    grid-column: span 4;
}
